language: php

sudo: false

cache:
    directories:
    - vendor
    - $HOME/.composer/cache

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - nightly

addons:
    apt:
        packages:
        - util-linux

matrix:
    fast_finish: true
    allow_failures:
    - php: nightly
    - php: hhvm

notifications:
    email: false
    irc:
      channels:
        - "irc.iiens.net#Clicky"
      on_success: change
      on_failure: always

before_script:
    - .travis/pecl.sh
    - rm -rf vendor/
    - rm composer.lock
    - composer self-update -n
    - composer install -n
    - /usr/bin/ssh -V || (echo "SSH not found" && exit 1)

script:
    - vendor/bin/phpunit --coverage-clover clover.xml
    - vendor/bin/phpcs

after_success:
    - composer require --dev satooshi/php-coveralls
    - travis_retry vendor/bin/coveralls -n -v
