language: php

sudo: false

cache:
    directories:
        - vendor
        - $HOME/.composer/cache

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - nightly
    - hhvm

matrix:
    allow_failures:
    - nightly
    - hhvm
    - hhvm-nightly

notifications:
    email: false
    irc: "irc.iiens.net#Clicky"

before_script:
    - pecl install pecl_http
    - phpenv config-add tests/php.ini
    - composer self-update -n
    - composer install --dev -n
    - /usr/bin/ssh -V || echo "SSH not found"
    - (/usr/bin/plink -V; exit $(($?/2))) || echo "plink not found"

script:
    - phpunit --coverage-clover clover.xml

after_script:
    - composer require --dev "satooshi/php-coveralls dev-master"
    - php vendor/bin/coveralls -n -v

