language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - hhvm-nightly

matrix:
    allow_failures:
    - hhvm
    - hhvm-nightly

notifications:
    email: false
    irc: "irc.iiens.net#Erebot"

before_script:
    - composer self-update -n
    - composer install --dev -n

script:
    - vendor/bin/phing qa
    - phpunit --coverage-clover clover.xml tests/unit/

after_script:
    - composer require --dev "satooshi/php-coveralls dev-master"
    - php vendor/bin/coveralls -n -v

