language: php
sudo: false

cache:
    directories:
        - vendor
        - $HOME/.composer/cache

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - nightly
    - hhvm
    - hhvm-nightly

matrix:
    allow_failures:
    - php: nightly
    - php: hhvm
    - php: hhvm-nightly

notifications:
    email: false
    irc: "irc.iiens.net#Clicky"

before_script:
    - composer self-update -n
    - composer install --dev -n

script:
    - phpunit --coverage-clover clover.xml tests/unit/

after_script:
    - composer require --dev "satooshi/php-coveralls dev-master"
    - php vendor/bin/coveralls -n -v

